body {
  font-size: 16px;
  color: #fff;
  background-color: #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

/** HEADER **/
#header-nav {
  background: #000000 url('../images/fotoo.jpeg') 50% 50% no-repeat;
  border-radius: 0;
  border: 0;
  background-size: 100% auto;
  height: 400px;
}

#my-name {
  margin-top: 60px;
  margin-left: 15px;
  color: #000;
  font-weight: bold;
  position: absolute;
  right: 50px;
  clear: both;
  font-family: 'Signika Negative', sans-serif;
  font-size: 3em;
}

#personal-bio {
  height: 60%;
  width: 50%;
  padding: 20px;
  position: absolute;
  right: 50px;
  top: 130px;
  background-color: #B8C2C1;
  opacity: .85;
  overflow: hidden;
}

#personal-bio span{
  color: #000;
  width: 100%;
  text-align: justify;
  
}

/* END HEADER */

/* FOOTER */
.panel-footer {
  
  padding-top: 350px;
  padding-bottom: 30px;
  background-color: #9E614E;
  opacity: .7;
  border-top: 0;
  width: 100%;
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
}
.panel-footer div.row {
  margin-bottom: 30px;
  margin-top: 40px;
}
#contact-me > span{
  font-size: 1.3em;
}

#quote {
  text-align: center;
  font-family: 'Arima Madurai';
  font-size: 1.2em;
}
/* END FOOTER */


/* HOME PAGE */
#skills-tile, #experience-tile, #languages-tile {
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  width: 60%;
  height: auto;
  padding-top: 60%;
}

#skills-tile:hover, #experience-tile:hover, #languages-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#skills-tile {
  background: #9BE4EF;
  opacity: .8;
  background-position: center;
}
#experience-tile {
  background: #E87471;
  opacity: .8;
  background-position: center;
}
#languages-tile {
  background: #A2EBD9;
  opacity: .8;
  background-position: center;
}
#skills-tile span, #experience-tile span, #languages-tile span {
  position: absolute;
  bottom: 37%; 
  vertical-align: middle;
  width: 100%;
  text-align: center;
  font-size: 2.1em;
  text-transform: capitalize;
  color: #fff;
}
#skills div.row, #experience div.row, #languages div.row{
  margin-bottom: 300px;
}

#skills, #experience, #languages {
  margin: 0 -9999rem; 
  /* add back negative margin value */
  padding: 3rem 9999rem;
}
#skills{
  background: rgba(155,228,239,0.4); 
}
#experience{
  background: rgba(232,116,113,0.4); 
}
#languages{
  background: rgba(162,235,217,0.4); 
}

#skills h2, #experience h2, #languages h2{
  color: black;
  text-align: center;
  font-family: 'Signika Negative', sans-serif;
  font-size: 3em;
  padding-top: 10px;
  margin-top: 10px;
}

#skills h3, #languages h3{
  color: black;
  text-align: center;
}

#experience h3{
  color: black;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

#skills p, #experience p, #languages p{
  color: black;
  text-align: center;
}

#volunteering p{
  margin-top: 1px;
  margin-bottom: 5px;
  text-align: center;
}

#resaltar{
  font-weight: bold;
}

/* END HOME PAGE */



/********** Large devices only **********/
@media (min-width: 1200px) {
}
#personal-bio {
  
  font-size: 1.2em;
}
/********** Medium devices only **********/
@media (min-width: 951px) and (max-width: 1199px) {
}

#personal-bio {
  
  font-size: 1.2em;
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 950px) {
  /* Home Page */
  #personal-bio {
    font-size: 1.07em;
  }

  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
   #header-nav {
    background: #000000 url('../images/fotoo.jpeg') 50% 50% no-repeat;
    border-radius: 0;
    border: 0;
    background-size: 100% auto;
    height: 200px;
    margin-bottom: 280px;
  }
  #personal-bio {
    height: 250px;
    width: 100%;
    padding: 20px;
    position: absolute;
    right: 0px;
    top: 200px;
    background-color: #B8C2C1;
    opacity: .5;
    overflow: hidden;
  }
  #my-name {
    margin-top: 15px;
    margin-left: 15px;
    color: #000;
    font-weight: bold;
    position: absolute;
    right: 10px;
    clear: both;
    font-size: 2.1em;
  }

  /* End Header */
  #skills-tile span, #experience-tile span, #languages-tile span {
    position: absolute;
    bottom: 40%;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    text-transform: capitalize;
    color: #fff;
  }

  #skills-tile, #experience-tile, #languages-tile {
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    width: 75%;
    height: auto;
    padding-top: 75%;
  }
 
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  
  #header-nav {
    background: #000000 url('../images/fotoo.jpeg') 50% 50% no-repeat;
    border-radius: 0;
    border: 0;
    background-size: 100% auto;
    height: 200px;
    margin-bottom: 340px;
  }
  #personal-bio {
    height: 315px;
    width: 100%;
    padding: 20px;
    position: absolute;
    right: 0px;
    top: 200px;
    background-color: #B8C2C1;
    opacity: .5;
    overflow: hidden;
  }
  #my-name {
    margin-top: 15px;
    margin-left: 15px;
    color: #000;
    font-weight: bold;
    position: absolute;
    right: 10px;
    clear: both;
    font-size: 2.1em;
  }
  /* End Header */
  
  /* Home page */
  #skills-tile span, #experience-tile span, #languages-tile span {
    position: absolute;
    bottom: 40%;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    font-size: .8em;
    text-transform: capitalize;
    color: #fff;
  }

  #skills-tile, #experience-tile, #languages-tile {
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
  }
  
}
